html, body {
  height: 100%;
  font-family: sans-serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.full.height {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: auto;
}

.todo.done {
  color: lightslategrey;
  text-decoration: line-through;
}
